<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GroupName</key>
	<string>wheel</string>
	<key>KeepAlive</key>
	<false/>
	<key>Label</key>
	<string>com.webentity.gitlab</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/sh</string>
		<string>/etc/init.d/gitlab</string>
		<string>start</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>UserName</key>
	<string>root</string>
	<key>WatchPaths</key>
	<array/>
</dict>
</plist>
