<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GroupName</key>
	<string>git</string>
	<key>KeepAlive</key>
	<false/>
	<key>Label</key>
	<string>com.webentity.gitlab_backup</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/git/.rbenv/shims/bundle</string>
		<string>exec</string>
		<string>rake</string>
		<string>gitlab:backup:create</string>
		<string>RAILS_ENV=production</string>
	</array>
	<key>QueueDirectories</key>
	<array/>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>/var/log/gitlab_backup.error.log</string>
	<key>StandardOutPath</key>
	<string>/var/log/gitlab_backup.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>23</integer>
		<key>Minute</key>
		<integer>55</integer>
	</dict>
	<key>UserName</key>
	<string>git</string>
	<key>WatchPaths</key>
	<array/>
	<key>WorkingDirectory</key>
	<string>/Users/git/gitlab/</string>
</dict>
</plist>
