<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>GroupName</key>
  <string>git</string>
  <key>KeepAlive</key>
  <true/>
  <key>Label</key>
  <string>gitlab.web</string>
  <key>ProgramArguments</key>
  <array>
    <string>bundle</string>
    <string>exec</string>
    <string>unicorn_rails</string>
    <string>-c</string>
    <string>config/unicorn.rb</string>
    <string>-E</string>
    <string>production</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>UserName</key>
  <string>git</string>
  <key>WorkingDirectory</key>
  <string>/Users/git/gitlab/</string>
</dict>
</plist>
