<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>GroupName</key>
  <string>git</string>
  <key>KeepAlive</key>
  <true/>
  <key>Label</key>
  <string>gitlab.background_jobs</string>
  <key>ProgramArguments</key>
  <array>
    <string>bundle</string>
    <string>exec</string>
    <string>sidekiq</string>
    <string>-q</string>
    <string>post_receive,mailer,system_hook,project_web_hook,gitlab_shell,common,default</string>
    <string>-e</string>
    <string>production</string>
    <string>-P</string>
    <string>tmp/pids/sidekiq.pid</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardOutPath</key>
  <string>log/sidekiq.log</string>
  <key>UserName</key>
  <string>git</string>
  <key>WorkingDirectory</key>
  <string>/Users/git/gitlab/</string>
</dict>
</plist>
